<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="./css/style.css">
    
</head>
<body>
    <div id="wrapper" class="container">
        <div class="header">
            <h6>Contact US</h6>
            <h3>Get In Touch</h3>
        </div>
        <div id="logo" class="row">
            <div class="one-third column">
                <a href="#mailContent">
                    <i class="far fa-envelope animated infinite bounce slower delay-2s clickMail"></i>
                    <p class="clickMail">E-mail</p>
                </a>
            </div>
            <div class="one-third column">
                <a href="#content">
                    <i class="far fa-comments animated infinite bounce slower delay-2s clickSMS"></i>
                    <p class="clickSMS">SMS / Call</p>
                </a>
            </div>
            <div class="one-third column">
                <i  id="clickChat" class="far fa-robot animated infinite bounce slower delay-2s clickChat"></i>
                <p class="clickChat">ChatBot</p>
            </div> 
        </div>
        <div id="content" class="container animated bounceInRight hide">
            <h3>Send SMS Message</h3> <br>
            <input type="tel" name="number" id="number" placeholder="* Enter Phone Number..." pattern="^\d{12}$" id="phone" maxlength="12"> <br>
            <input type="text" name="msg" id="msg" placeholder="* Enter Text Message..." required> <br>
            <input type="button" id="button" class="" value="Send Text">
            <p class="response"></p>
        </div>  
        <div id="mailContent" class="container animated bounceInLeft">
            <h3>Email Us</h3>
            {{msg}}
            <form action="/send" method="POST">
                <input type="text" name="name" id="mail_Name" placeholder="* Name..." class="" required>
                <div class="row">
                    <div class="six columns">
                        <input type="email" name="email" id="mail_email" placeholder="* Email..." required>
                    </div>
                    <div class="six columns">
                        <input type="tel" name="phone" id="mail_Phone" placeholder="* Phone..." pattern="^\d{10}$" maxlength="10"> <br>
                    </div>
                </div>
                <textarea name="message" id="" cols="55" rows="20" placeholder="* Your Message..." required></textarea> <br>
                <button type="submit">Submit</button>
            </form>
        </div>
        <img src="./images/pencil.png" alt="pencil">
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">(function(t,e){var r=function(t){try{var r=e.head||e.getElementsByTagName("head")[0];a=e.createElement("script");a.setAttribute("type","text/javascript");a.setAttribute("src",t);r.appendChild(a);}catch(t){}};t.CollectId = "5be61268692c6d16f43c6a7d";r("https://collectcdn.com/launcher.js");})(window,document);</script>
</body>
</html>