@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #13b1cd;
    color: white;
    font-size: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:link:active, a:visited:active {
    color: white;
}

.container{
    /* border: 1px solid white; */
}

.header {
    margin-top: 10rem;
    display: block;
    text-align: center;
}

.header h6 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8) ;
    text-transform: uppercase;
}

.header h3 {

}

#logo{
    margin: 6rem 0rem;
    margin-bottom: 5rem;
    /* border: 1px solid #eee; */
    text-align: center;
    font-size: 2rem;
}

#logo i {
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;

}

#logo p{
    cursor: pointer;
}

#content{
    text-align: center;
    /* border: 1px solid #eee; */

}

input{
    width: 60%;
}

input[type=text], input[type=tel], input[type=email], textarea  {
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    color: white;
    border-radius: 0;
    padding: 10px 10px 10px 5px;
    margin: 1.5rem 0;
}

input[type=text]:focus, input[type=tel]:focus,input[type=email]:hover, textarea:hover
input[type=text]:active, input[type=tel]:active, input[type=email]:active, textarea:active{
    font-weight: 500;
    outline: none;
    border:0px;
    border-bottom: 1px solid #eee;
}
#button, button{
    margin-top: 3rem;
    background-color: white;
    width: 20%;
    border-radius: 3.125rem;
    transition: all 1s ease;
}

/* #button:hover{
    background-color: #13b1cd;
} */

#button:hover, button:hover {
    transition: 1s;
    -webkit-transition: 1s;
    color: #fff;
    background-color: #13b1cd;
    border: 1px solid #eee;
}


img{
    position: absolute;
    width: 31.75rem;
    bottom: 13px;
    height: auto;
    left: -162px;
}

#mailContent{
    text-align: center;
}

textarea {
    height: 12rem;
}

#mail_email{
    margin-right: -161px;
}

#mail_Phone{
    margin-left: -161px;
}

.show {
    display: block !important;
}

.hide{
    display: none !important;
}

/* Larger than mobile */
@media (min-width: 300px) and (max-width: 559px) {
    .header {
        margin-top: 5rem;
    }
    #mail_email {
        margin-right: 0px;
        width: 100%;
    }

    #mail_Phone {
        margin-left: 0px;
        width: 100%;
    }

    img{
        display: none;
    }

    #mail_Name{
        width: 100%;
    }

    textarea{
        width: 100%;
    }
    
    button{
        width: 37%;
    }
}

/* Larger than phablet */
@media (min-width: 550px) and (max-width: 749px) {
    #mail_Name{
        width: 71%;
    }

    #mail_email{
        margin-right: -48px;
    }

    #mail_Phone {
        margin-left: -48px;
    }

    img{
        left: -77px;
    }

    textarea{
        width: 71%;
    }

    button{
        width: 31%;
    }
}

/* Larger than tablet */
@media (min-width: 750px) and (max-width: 1024px) {
    #mail_Name{
        width: 71%;
    }

    #mail_email{
        margin-right: -48px;
    }

    #mail_Phone {
        margin-left: -48px;
    }

    img{
        left: -77px;
    }

    textarea{
        width: 71%;
    }
}

/* Larger than desktop */
@media (min-width: 1025px) and (max-width: 1200px) {
    #mail_Name{
        width: 71%;
    }

    #mail_email{
        margin-right: -67px;
    }

    #mail_Phone {
        margin-left: -73px;
    }

    img{
        left: -77px;
    }

    textarea{
        width: 71%;
    }
}



